<a href="https://colab.research.google.com/github/sarabert96/Colexification/blob/main/check/Cleaning_df_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries and data

In [2]:
import pandas
import numpy
import nltk
nltk.download('punkt')
from collections import Counter
from google.colab import files

!gdown --id 1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S #df_all_raw

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
Downloading...
From: https://drive.google.com/uc?id=1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S
To: /content/df_all_raw.csv
244MB [00:02, 83.8MB/s]

In [3]:
from collections import Counter

In [4]:
df = pandas.read_csv('df_all_raw.csv')
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             dataset_ID  ... KUCERA_FRANCIS_FREQUENCY
0          abrahammonpa  ...                     52.0
1          abrahammonpa  ...                     52.0
2          abrahammonpa  ...                     52.0
3          abrahammonpa  ...                     52.0
4          abrahammonpa  ...                     52.0
...                 ...  ...                      ...
1390589  zgraggenmadang  ...                    242.0
1390590  zgraggenmadang  ...                    242.0
1390591  zgraggenmadang  ...                    242.0
1390592  zgraggenmadang  ...                    242.0
1390593  zgraggenmadang  ...                    242.0

[1390594 rows x 22 columns]

1. remove diachronic varieties (middle/old/classic/ancient)

In [5]:
#tokenize variety, add flag column
df['tk_variety']=df['variety'].apply(nltk.tokenize.word_tokenize)
df

             dataset_ID  ...          tk_variety
0          abrahammonpa  ...     [Bugun, Bichom]
1          abrahammonpa  ...      [Bugun, Kaspi]
2          abrahammonpa  ...    [Bugun, Namphri]
3          abrahammonpa  ...  [Bugun, Singchung]
4          abrahammonpa  ...     [Bugun, Wangho]
...                 ...  ...                 ...
1390589  zgraggenmadang  ...             [yaben]
1390590  zgraggenmadang  ...          [yangulam]
1390591  zgraggenmadang  ...          [yangulam]
1390592  zgraggenmadang  ...          [yarawata]
1390593  zgraggenmadang  ...            [yoidik]

[1390594 rows x 23 columns]

In [6]:
df['flag']=0

In [7]:
#find non wanted varieties
diachronic_varieties = ['Old', 'Middle', 'Classic', 'Ancient', 'English']
for i in range(len(df['tk_variety'])):
  r = df['tk_variety'].iloc[i]
  if any((v in diachronic_varieties) for v in r):
    df['flag'].iloc[i]+=1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [8]:
# delete flagged columns with non wanted categories
df= df.drop(df[df.flag > 0].index)

In [9]:
df

             dataset_ID                    Form_ID  ...          tk_variety flag
0          abrahammonpa     BugunBichom-100_gold-1  ...     [Bugun, Bichom]    0
1          abrahammonpa      BugunKaspi-100_gold-1  ...      [Bugun, Kaspi]    0
2          abrahammonpa    BugunNamphri-100_gold-1  ...    [Bugun, Namphri]    0
3          abrahammonpa  BugunSingchung-100_gold-1  ...  [Bugun, Singchung]    0
4          abrahammonpa     BugunWangho-100_gold-1  ...     [Bugun, Wangho]    0
...                 ...                        ...  ...                 ...  ...
1390589  zgraggenmadang              yaben-9_boy-1  ...             [yaben]    0
1390590  zgraggenmadang           yangulam-9_boy-1  ...          [yangulam]    0
1390591  zgraggenmadang           yangulam-9_boy-2  ...          [yangulam]    0
1390592  zgraggenmadang           yarawata-9_boy-1  ...          [yarawata]    0
1390593  zgraggenmadang             yoidik-9_boy-1  ...            [yoidik]    0

[1358416 rows x 24 columns]

Now we have the original dataframe removed from unwanted varieties

In [21]:
# modify column with word count: flag > 0 if multiword
df['flag'] = df['Concepticon_Gloss'].str.count(' OR ')
df['flag'] = df['Concepticon_Gloss'].str.count("\(")

In [22]:
df[df['flag']==1]

             dataset_ID                    Form_ID  ...          tk_variety flag
92         abrahammonpa     BugunBichom-103_hair-1  ...     [Bugun, Bichom]    1
93         abrahammonpa      BugunKaspi-103_hair-1  ...      [Bugun, Kaspi]    1
94         abrahammonpa    BugunNamphri-103_hair-1  ...    [Bugun, Namphri]    1
95         abrahammonpa  BugunSingchung-103_hair-1  ...  [Bugun, Singchung]    1
96         abrahammonpa     BugunWangho-103_hair-1  ...     [Bugun, Wangho]    1
...                 ...                        ...  ...                 ...  ...
1389766  zgraggenmadang       yaben-89_excrement-1  ...             [yaben]    1
1389767  zgraggenmadang      yabong-89_excrement-1  ...            [yabong]    1
1389768  zgraggenmadang    yangulam-89_excrement-1  ...          [yangulam]    1
1389769  zgraggenmadang    yarawata-89_excrement-1  ...          [yarawata]    1
1389770  zgraggenmadang      yoidik-89_excrement-1  ...            [yoidik]    1

[119337 rows x 24 columns]

In [26]:
df.shape

(1358416, 24)

In [27]:
# delete flagged columns
df = df.drop(df[df.flag > 0].index)
# delete column with word count
del df['flag']

In [28]:
df.shape

(1238663, 23)

df is now without bad concepts (OR, bracket)

In [42]:
df['Concepticon_Gloss'].isna().values.any()

False

In [44]:
# reset index
df = df.reset_index(drop=True)

Save df on csv

In [45]:
df.to_csv('df_all_ok.csv')