<a href="https://colab.research.google.com/github/sarabert96/Colexification/blob/main/01_DataUnderstanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CLICS 3 Data Understanding

Import libraries

In [1]:
import pandas as pd
from google.colab import files
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

Obtaining raw dataframe from Google Drive

In [2]:
!gdown --id 1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S #df_all_raw

Downloading...
From: https://drive.google.com/uc?id=1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S
To: /content/df_all_raw.csv
244MB [00:01, 199MB/s]

In [3]:
df = pd.read_csv('df_all_raw.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.info

<bound method DataFrame.info of              dataset_ID  ... KUCERA_FRANCIS_FREQUENCY
0          abrahammonpa  ...                     52.0
1          abrahammonpa  ...                     52.0
2          abrahammonpa  ...                     52.0
3          abrahammonpa  ...                     52.0
4          abrahammonpa  ...                     52.0
...                 ...  ...                      ...
1390589  zgraggenmadang  ...                    242.0
1390590  zgraggenmadang  ...                    242.0
1390591  zgraggenmadang  ...                    242.0
1390592  zgraggenmadang  ...                    242.0
1390593  zgraggenmadang  ...                    242.0

[1390594 rows x 22 columns]>

In [10]:
df.head()

     dataset_ID  ... KUCERA_FRANCIS_FREQUENCY
0  abrahammonpa  ...                     52.0
1  abrahammonpa  ...                     52.0
2  abrahammonpa  ...                     52.0
3  abrahammonpa  ...                     52.0
4  abrahammonpa  ...                     52.0

[5 rows x 22 columns]

In [16]:
len(df.groupby('clics_form'))

706169

In [14]:
len(df.groupby('Concepticon_Gloss'))

2919

In [12]:
len(df.groupby('variety'))

3050

In [13]:
len(df.groupby('Glottocode'))

2279

In [15]:
len(df.groupby('Family'))

201

In [23]:
df.isna().sum()

dataset_ID                        0
Form_ID                           0
Form                             87
clics_form                      441
gloss_in_source               64676
Concepticon_ID                    0
Concepticon_Gloss                 0
Ontological_Category              0
Semantic_Field                  108
variety                           0
Glottocode                    19627
ISO639P3code                 206325
Macroarea                     87845
Family                        22090
Latitude                     226992
Longitude                    226992
MRC_WORD                     220322
AGE_OF_ACQUISITION          1060434
CONCRETENESS                 467034
FAMILIARITY                  423700
IMAGABILITY                  431767
KUCERA_FRANCIS_FREQUENCY     232552
dtype: int64

Adding tokenized column for a deeper analysis

In [4]:
df['tk_variety']=df['variety'].apply(nltk.tokenize.word_tokenize)

As soon as we find a diachronic variety, this is printed and the for stopped

In [16]:
for i in range(len(df['tk_variety'])):
  r = df['tk_variety'].iloc[i]
  if any((v == "Modern") for v in r): # change key word
    print (r)
    break

['Modern', 'Armenian']

Count how many specific varieties contains...

In [23]:
c = 0
for i in range(len(df['tk_variety'])):
  r = df['tk_variety'].iloc[i]
  if any((v == "Modern") for v in r): # change key word
    c+=1
print (c)

4256