<a href="https://colab.research.google.com/github/sarabert96/Colexification/blob/main/02__Cleaning_df_all_raw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries and data

In [1]:
import pandas
import numpy
import nltk
nltk.download('punkt')
from collections import Counter
from google.colab import files

!gdown --id 1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S #df_all_raw

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
Downloading...
From: https://drive.google.com/uc?id=1EySPG8ZDMfMTvhUQaw8w1k6NgywI4N4S
To: /content/df_all_raw.csv
244MB [00:01, 124MB/s]

In [2]:
df = pandas.read_csv('df_all_raw.csv')
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             dataset_ID  ... KUCERA_FRANCIS_FREQUENCY
0          abrahammonpa  ...                     52.0
1          abrahammonpa  ...                     52.0
2          abrahammonpa  ...                     52.0
3          abrahammonpa  ...                     52.0
4          abrahammonpa  ...                     52.0
...                 ...  ...                      ...
1390589  zgraggenmadang  ...                    242.0
1390590  zgraggenmadang  ...                    242.0
1390591  zgraggenmadang  ...                    242.0
1390592  zgraggenmadang  ...                    242.0
1390593  zgraggenmadang  ...                    242.0

[1390594 rows x 22 columns]

Remove diachronic varieties (middle, old, classic, ancient)

In [3]:
#tokenize variety --> new column
df['tk_variety']=df['variety'].apply(nltk.tokenize.word_tokenize)

In [4]:
df['flag']=0 # add flag column

In [5]:
# flag non wanted varieties
diachronic_varieties = ['Old', 'Middle', 'Classic', 'Ancient', 'English','Latin']
for i in range(len(df['tk_variety'])):
  r = df['tk_variety'].iloc[i]
  if any((v in diachronic_varieties) for v in r):
    df['flag'].iloc[i]+=1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [6]:
# delete flagged columns with non wanted categories
df= df.drop(df[df.flag > 0].index)

In [9]:
df.shape

(1354795, 24)

Now we have the original dataframe removed from unwanted varieties

Remove also multiword concepticon: containing OR and/or parenthesis

In [8]:
# modify column with word count: flag > 0 if multiword
df['flag'] = df['Concepticon_Gloss'].str.count(' OR ')
df['flag'] = df['Concepticon_Gloss'].str.count("\(") # \ symbol is for regex problem

In [10]:
# delete flagged columns
df = df.drop(df[df.flag > 0].index)
# delete column with word count
del df['flag']

In [11]:
df.shape

(1235399, 23)

df is now without bad concepts (OR, bracket)

Check for null values

In [ ]:
df['Concepticon_Gloss'].isna().values.any()

False

In [12]:
# reset index
df = df.reset_index(drop=True)

Save df on csv

In [13]:
df.to_csv('df_all_ok.csv')

Remember to download the csv

In [ ]:
files.download('df_all_ok.csv')