<a href="https://colab.research.google.com/github/sarabert96/Colexification/blob/main/09_AnalysisLRpT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file load the tables created by the Logistic Regression and look at their values

In [1]:
import pandas as pd

In [2]:
df_bal = pd.read_csv('df_logreg_bal.csv')
df_un = pd.read_csv('df_logreg_un.csv')

In [13]:
df_bal.head(2)

   boot_df  random_state  f1_score
0        0             0      0.82
1        0             1      0.78

In [5]:
df_bal['f1_score'].describe() # we see how much it varies

count    1000.000000
mean        0.800510
std         0.021724
min         0.730000
25%         0.790000
50%         0.800000
75%         0.820000
max         0.880000
Name: f1_score, dtype: float64

In [10]:
df_bal.groupby('boot_df').describe().f1_score

         count   mean       std   min     25%    50%     75%   max
boot_df
0         10.0  0.805  0.019579  0.77  0.8000  0.805  0.8175  0.83
1         10.0  0.791  0.021318  0.77  0.7725  0.785  0.8000  0.83
2         10.0  0.819  0.017288  0.79  0.8100  0.820  0.8300  0.85
3         10.0  0.820  0.025820  0.78  0.8025  0.820  0.8275  0.87
4         10.0  0.797  0.018288  0.77  0.7900  0.790  0.8075  0.83
...        ...    ...       ...   ...     ...    ...     ...   ...
95        10.0  0.793  0.019465  0.76  0.7825  0.790  0.8100  0.82
96        10.0  0.803  0.011595  0.78  0.8000  0.805  0.8100  0.82
97        10.0  0.794  0.024129  0.75  0.7800  0.800  0.8075  0.83
98        10.0  0.787  0.020028  0.76  0.7725  0.785  0.7975  0.83
99        10.0  0.787  0.028304  0.73  0.7900  0.790  0.7975  0.83

[100 rows x 8 columns]

In [12]:
df_un.head(2)

   boot_df  random_state  f1_score
0        0             0      0.63
1        0             1      0.63

In [11]:
df_un['f1_score'].describe()

count    1000.000000
mean        0.628190
std         0.005819
min         0.610000
25%         0.630000
50%         0.630000
75%         0.630000
max         0.640000
Name: f1_score, dtype: float64